
<!-- BEGIN PAGE TITLE -->
<div class="page-title">
    <h1>Все уведомления</h1>
</div>
<!-- END PAGE TITLE -->

<!-- BEGIN PAGE CONTENT-->
    <!-- TIMELINE ITEM -->





{{#empty notif}}
    <button id="allread" class="btn btn-success disabled">
        Отметить все как Прочитанно </button>
{{else}}
    <button id="allread" class="btn btn-success">
        Отметить все как Прочитанно </button>
{{/empty}}





  {{#each notif}}






    <div class="timeline-item">

        <div class="timeline-badge">

           {{#is read true}}


               <span class="label label-success">
									Прочитанно </span>

           {{else}}


               <span class="label label-warning">
									Не прочитанно </span>


           {{/is}}


        </div>
        <div class="timeline-body">
            <div class="timeline-body-arrow">
            </div>
            <div class="timeline-body-head">
                <div class="timeline-body-head-caption">
                    <span class="timeline-body-title font-blue-madison">{{date}}</span>
                </div>

            </div>




            {{#is labelforemployees true}}

                <button data-idforattr="{{idforattr}}" class="yes btn btn-success">Да, это наш сотрудник </button> <button data-idforattr="{{idforattr}}" class="no btn btn-warning">Нет, я его не знаю </button>

            {{else}}


            {{/is}}



            <div class="timeline-body-content">
							<span class="font-grey-cascade">


							{{text}}
</span>

                <input class="fromreq" data-idforattr="{{idforattr}}" type="hidden" value="{{fromreq}}">

              <input type="hidden" class="idnotif" value="{{id}}" data-idforattr="{{idforattr}}">





                {{#is read true}}


                    <button data-idforattr="{{idforattr}}" class="oneread btn btn-success disabled">
                        Отметить как Прочитанно </button>

                {{else}}


                    <button data-idforattr="{{idforattr}}" class="oneread btn btn-success">
                        Отметить как Прочитанно </button>


                {{/is}}

            </div>
        </div>
    </div>

    <!-- END TIMELINE ITEM -->

  {{/each}}


</div>
<!-- END PAGE CONTENT-->
