




<div class="portlet light">
    <div class="portlet-body">

        <div class="clearfix">




        <div class="btn-group btn-group-solid" style="margin-bottom: 20px;">
            <button id="inProcess" class="btn green" style="margin-right: 20px;">Входящие</button>
            <button id="outProcess" class="btn yellow" style="margin-right: 20px;">Исходящие</button>
            <button id="dueProcess" class="btn red" style="margin-right: 20px;">Просроченные</button>
        </div>




</div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-notebook"></i>Мои процессы
                        </div>
                        <div class="tools">




                        </div>
                    </div>
                    <div class="portlet-body">





                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>


                            <tr>





                                <th>Имя</th>






                                <th>Дата начала</th>


                                <th>Дата окончания</th>



                                <th>Исполнители</th>

                                <th>Ответственные</th>



                                <th>Статус</th>








                                <th>Действия</th>





                            </tr>
                            </thead>

                            <tfoot>
                            <tr>


                                <th>Имя</th>






                                <th>Дата начала</th>


                                <th>Дата окончания</th>





                                <th>Исполнители</th>

                                <th>Ответственные</th>



                                <th>Статус</th>








                                <th>Действия</th>



                            </tr>
                            </tfoot>


                            <tbody>

                            {{#each process}}



                                <tr>








                                    <td>



                                      {{#name}}

                                          {{name}}

                                        {{/name}}

                                    </td>


                                    <td>



                                      {{dateTimeStart}}



                                    </td>



                                    <td>


                                      {{dueDateTime}}



                                    </td>



                                    <td>
                                      {{#performer}}



                                          <li>{{nameUser}}</li>


                                      {{/performer}}
                                    </td>


                                    <td>

                                      {{#answerable}}


                                          <li>{{nameUser}}</li>


                                      {{/answerable}}





                                    </td>



                                    <td>



                                      {{#is status "В работе"}}

                                          <span class="label label-danger">
									В работе </span>
                                      {{else}}


                                        {{#is status "Ответственный взял на работу"}}

                                            <span class="label label-warning">
									Ответственный взял на работу </span>


                                        {{else}}


                                          {{#is status "Отправлен на доработку"}}

                                              <span class="label label-warning">
									Отправлен на доработку </span>


                                          {{else}}


                                            {{#is status "Закончен положительно"}}

                                                <span class="label label-warning">
									Закончен положительно </span>


                                            {{else}}


                                              {{#is status "Закончен отрицательно"}}

                                                  <span class="label label-warning">
									Закончен отрицательно </span>


                                              {{else}}


                                                  <span class="label label-success">
									Работа окончена </span>



                                              {{/is}}
                                            {{/is}}
                                          {{/is}}
                                        {{/is}}
                                      {{/is}}


                                    </td>




                                    <td>

                                        <a href="{{url}}" class="btn btn-xs yellow" style="margin-bottom: 10px;">
                                            Просмотреть <i class="fa fa-search"></i>
                                        </a>

                                        <a href="javascript:;" class="btn btn-xs red">
                                            <i class="fa fa-times"></i> Удалить </a>







                                    </td>






                                </tr>

                            {{/each}}

                            </tbody>




                        </table>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

