




<div class="portlet light">
<div class="portlet-body">

<div class="row">
    <div class="col-md-12">
        <div class="margin-bottom-10" id="nestable_list_menu">
            <button type="button" class="btn" data-action="expand-all">Развернуть список</button>
            <button type="button" class="btn" data-action="collapse-all">Свернуть список</button>


            <a href="#portlet-config" class="btn" data-toggle="modal" style="margin-left: 47%; background: #DDDDDD">Работа со справочником</a>



        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings"></i>Типы и Названия процессов
                </div>



            </div>
            <div class="portlet-body ">
                <div class="dd" id="nestable_list_1">



                    <ol class="dd-list">





                        {{> list}}




                    </ol>



                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- full width -->
<div id="portlet-config" class="modal container fade" tabindex="-1">




    <div class="modal-body">



        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Работа со справочником</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Добавить тип процесса</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">Добавить имя процесса</a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" style="color: red;" data-toggle="tab">Удалить</a>
                                </li>

                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form role="form" action="/typeprocess/create" method="post">
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" name="process" class="form-control" id="form_control_1">
                                            <label for="form_control_1">Новый тип процесса</label>
                                            <span class="help-block">Здесь вводятся только буквы</span>
                                        </div>


                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input type="text" name="name" class="form-control" id="form_control_1">
                                            <label for="form_control_1">Новое имя процесса</label>
                                            <span class="help-block">Здесь вводятся только буквы</span>
                                        </div>





                                        <div class="form-group">
                                            <label class="control-label">Первичный документ</label>


                                            <select id="type" name="primarydoc" class="bs-select form-control" data-live-search="true" data-size="auto" multiple>

                                              {{#each docs}}


                                                  <option value="{{this}}">{{this}}</option>

                                              {{/each}}





                                            </select>


                                        </div>


                                        <label for="form_control_1">Создайте справочник для процесса</label>
                                        <div class="input_fields_wrap">

                                            <button class="btn blue add_field_button">Добавить колонку</button>
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" name="mycol[]" class="form-control" id="form_control_1">
                                                <label for="form_control_1">Имя колонки</label>
                                                <span class="help-block">Обязательное поле</span>
                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">Прикрепите процесс</label>


                                            <select id="type" name="dprocess" class="bs-select form-control" data-live-search="true" data-size="auto" multiple>

                                              {{#each archive}}


                                                  <option value="{{process}}">{{name}}</option>

                                              {{/each}}





                                            </select>


                                        </div>





                                        <div class="margiv-top-10">
                                            <button type="submit" class="btn green-haze">
                                                Сохранить запись </button>

                                        </div>
                                    </form>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                <div class="tab-pane" id="tab_1_2">

                                    <form action="/typeprocess/createname" role="form" method="post">
                                        <div class="form-group">
                                            <label class="control-label">Тип процесса</label>


                                            <select name="process" class="bs-select form-control" data-live-search="true" data-size="8" >

                                              {{#each mass}}

                                                  <option value="{{nameType}}">{{nameType}}</option>

                                              {{/each}}





                                            </select>


                                        </div>





                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <input name="name" type="text" class="form-control" id="form_control_1">
                                            <label for="form_control_1">Новое имя процесса</label>
                                            <span class="help-block">Здесь вводятся только буквы</span>
                                        </div>



                                        <div class="form-group">
                                            <label class="control-label">Первичный документ</label>


                                            <select id="type" name="primarydoc" class="bs-select form-control" data-live-search="true" data-size="auto" multiple>

                                              {{#each docs}}


                                                  <option value="{{this}}">{{this}}</option>

                                              {{/each}}





                                            </select>


                                        </div>


                                        <label for="form_control_1">Создайте справочник для процесса</label>
                                        <div class="input_fields_wrap">

                                            <button class="btn blue add_field_button">Добавить колонку</button>
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <input type="text" name="mycol[]" class="form-control" id="form_control_1">
                                                <label for="form_control_1">Имя колонки</label>
                                                <span class="help-block">Обязательное поле</span>
                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">Прикрепите процесс</label>


                                            <select id="type" name="dprocess" class="bs-select form-control" data-live-search="true" data-size="auto" multiple>

                                              {{#each archive}}


                                                  <option value="{{process}}">{{name}}</option>

                                              {{/each}}





                                            </select>


                                        </div>





                                        <div class="margin-top-10">
                                            <button type="submit" class="btn green-haze">
                                                Сохранить запись </button>

                                        </div>
                                    </form>
                                </div>
                                <!-- END CHANGE AVATAR TAB -->

                                <!-- CHANGE PASSWORD TAB -->
                                <div class="tab-pane" id="tab_1_3">
                                    <form action="/typeprocess/delete" method="post">

                                        <div class="form-group">
                                            <label class="control-label">Тип процесса</label>


                                            <select name="process" class="bs-select form-control" data-live-search="true" data-size="8" >

                                              {{#each mass}}


                                                  <option value="{{nameType}}">{{nameType}}</option>

                                              {{/each}}





                                            </select>


                                        </div>

                                        <div class="form-group">
                                        <button type="submit" class="btn green-haze">
                                            Удалить </button>
                                        </div>







                                    </form>
                                </div>
                                <!-- END CHANGE PASSWORD TAB -->
                                <!-- PRIVACY SETTINGS TAB -->

                                <!-- END PRIVACY SETTINGS TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>















    </div>






</div>
